@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

body {
  font-family: 'Lato', sans-serif;
  /* background-color: #f9f9f9; */
  background-color: rgb(255, 247, 233);
}